/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2016, 4:05:02 PM
    Author     : HU_J
*/

Map {
  background-color: rgba(0,0,0,0);
}





#City_Zoning[ZONE_CODE='R1']{
  line-color:#FFFF00;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFFF00;
}

#City_Zoning[ZONE_CODE='R2-MD']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}

#City_Zoning[ZONE_CODE='R2-HD']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#City_Zoning[ZONE_CODE='R3']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#City_Zoning[ZONE_CODE='AP']{
  line-color:#FFF8DC;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFF8DC;
}


#City_Zoning[ZONE_CODE='CL']{
  line-color:#800080;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#800080;
}


#City_Zoning[ZONE_CODE='C1-S']{
  line-color:#DDA0DD;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#DDA0DD;
}


#City_Zoning[ZONE_CODE='C1']{
  line-color:#FF0000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF0000;
}

#City_Zoning[ZONE_CODE='C2']{
  line-color:#FF6347;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF6347;
}



#City_Zoning[ZONE_CODE='TC']{
  line-color:#EE82EE;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#EE82EE;
}


#City_Zoning[ZONE_CODE='PDR-LD']{
  line-color:#FFEFD5;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFEFD5;
}


#City_Zoning[ZONE_CODE='PDR-MD']{
  line-color:#FFDAB9;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFDAB9;
}


#City_Zoning[ZONE_CODE='PDR-HD']{
  line-color:#8B4513;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8B4513;
}


#City_Zoning[ZONE_CODE='PDC']{
  line-color:#FFA500;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFA500;
}
#City_Zoning[ZONE_CODE='PDI']{
  line-color:#87CEEB;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#87CEEB;
}

#City_Zoning[ZONE_CODE='I-R']{
  line-color:#008000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#008000;
}


#City_Zoning[ZONE_CODE='MG']{
  line-color:#0000FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#0000FF;
}


#City_Zoning[ZONE_CODE='MP']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}