Map {
  background-color: rgba(0,0,0,0);
}










#New_York_Commercial_Zone[OVERLAY='C1-1']{
  line-color:#DDA0DD;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#DDA0DD;
}


#New_York_Commercial_Zone[OVERLAY='C1-2']{
  line-color:#FF0000;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#FF0000;
}



#New_York_Commercial_Zone[OVERLAY='C1-3']{
  line-color:#C0C0C0;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#C0C0C0;
}






#New_York_Commercial_Zone[OVERLAY='C1-4']{
  line-color:#87CEEB;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#87CEEB;
}


#New_York_Commercial_Zone[OVERLAY='C1-5']{
  line-color:#8B4513;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#8B4513;
}




#New_York_Commercial_Zone[OVERLAY='C2-1']{
  line-color:#FF6347;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#FF6347;
}


#New_York_Commercial_Zone[OVERLAY='C2-2']{
  line-color:#D2B48C;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#D2B48C;
}



#New_York_Commercial_Zone[OVERLAY='C2-3']{
  line-color:#EE82EE;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#EE82EE;
}



#New_York_Commercial_Zone[OVERLAY='C2-4']{
  line-color:#F5DEB3;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#F5DEB3;
}





#New_York_Commercial_Zone[OVERLAY='C2-5']{
  line-color:#FFFF00;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#FFFF00;
}










