Map {
  background-color: rgba(0,0,0,0);
}









#New_York_Zone_Districts[ZONEDIST='BPC']{
  line-color:#00FFFF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#00FFFF;
}



#New_York_Zone_Districts[ZONEDIST='C1-6']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}

#New_York_Zone_Districts[ZONEDIST='C1-6A']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}

#New_York_Zone_Districts[ZONEDIST='C1-7']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}


#New_York_Zone_Districts[ZONEDIST='C1-7A']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}



#New_York_Zone_Districts[ZONEDIST='C1-8']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}



#New_York_Zone_Districts[ZONEDIST='C1-8A']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}



#New_York_Zone_Districts[ZONEDIST='C1-8X']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}



#New_York_Zone_Districts[ZONEDIST='C1-9']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}



#New_York_Zone_Districts[ZONEDIST='C1-9A']{
  line-color:#7FFFD4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#7FFFD4;
}













#New_York_Zone_Districts[ZONEDIST='C2-6']{
  line-color:#0000FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#0000FF;
}


#New_York_Zone_Districts[ZONEDIST='C2-6A']{
  line-color:#0000FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#0000FF;
}


#New_York_Zone_Districts[ZONEDIST='C2-7']{
  line-color:#0000FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#0000FF;
}

#New_York_Zone_Districts[ZONEDIST='C2-7A']{
  line-color:#0000FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#0000FF;
}


#New_York_Zone_Districts[ZONEDIST='C2-8']{
  line-color:#0000FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#0000FF;
}

#New_York_Zone_Districts[ZONEDIST='C2-8A']{
  line-color:#0000FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#0000FF;
}







#New_York_Zone_Districts[ZONEDIST='C4-1']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}


#New_York_Zone_Districts[ZONEDIST='C4-2']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}



#New_York_Zone_Districts[ZONEDIST='C4-2A']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}




#New_York_Zone_Districts[ZONEDIST='C4-2F']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}



#New_York_Zone_Districts[ZONEDIST='C4-3']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}



#New_York_Zone_Districts[ZONEDIST='C4-3A']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}

#New_York_Zone_Districts[ZONEDIST='C4-4']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}

#New_York_Zone_Districts[ZONEDIST='C4-4A']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}

#New_York_Zone_Districts[ZONEDIST='C4-4D']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}

#New_York_Zone_Districts[ZONEDIST='C4-4L']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}

#New_York_Zone_Districts[ZONEDIST='C4-5']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}


#New_York_Zone_Districts[ZONEDIST='C4-5A']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}

#New_York_Zone_Districts[ZONEDIST='C4-5D']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}

#New_York_Zone_Districts[ZONEDIST='C4-5X']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}


#New_York_Zone_Districts[ZONEDIST='C4-6']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}


#New_York_Zone_Districts[ZONEDIST='C4-6A']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}


#New_York_Zone_Districts[ZONEDIST='C4-7']{
  line-color:#8A2BE2;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8A2BE2;
}












#New_York_Zone_Districts[ZONEDIST='C5-1']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}


#New_York_Zone_Districts[ZONEDIST='C5-1A']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#New_York_Zone_Districts[ZONEDIST='C5-2']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#New_York_Zone_Districts[ZONEDIST='C5-2A']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#New_York_Zone_Districts[ZONEDIST='C5-2_5']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#New_York_Zone_Districts[ZONEDIST='C5-3']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#New_York_Zone_Districts[ZONEDIST='C5-4']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#New_York_Zone_Districts[ZONEDIST='C5-5']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}

#New_York_Zone_Districts[ZONEDIST='C5-P']{
  line-color:#A52A2A;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#A52A2A;
}









#New_York_Zone_Districts[ZONEDIST='C6-1']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-1A']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-1G']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-2']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-2A']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-2G']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-2M']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-3']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-3A']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-3D']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-3X']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-4']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-4_5']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-4A']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}


#New_York_Zone_Districts[ZONEDIST='C6-4M']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}

#New_York_Zone_Districts[ZONEDIST='C6-4X']{
  line-color:#D2691E;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2691E;
}















#New_York_Zone_Districts[ZONEDIST='C6-5']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}

#New_York_Zone_Districts[ZONEDIST='C6-5_5']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}

#New_York_Zone_Districts[ZONEDIST='C6-6']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}

#New_York_Zone_Districts[ZONEDIST='C6-6_5']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}

#New_York_Zone_Districts[ZONEDIST='C6-7']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}

#New_York_Zone_Districts[ZONEDIST='C6-7T']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}

#New_York_Zone_Districts[ZONEDIST='C6-9']{
  line-color:#FF7F50;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF7F50;
}











#New_York_Zone_Districts[ZONEDIST='C8-1']{
  line-color:#FFF8DC;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFF8DC;
}


#New_York_Zone_Districts[ZONEDIST='C8-2']{
  line-color:#FFF8DC;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFF8DC;
}


#New_York_Zone_Districts[ZONEDIST='C8-3']{
  line-color:#FFF8DC;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFF8DC;
}

#New_York_Zone_Districts[ZONEDIST='C8-4']{
  line-color:#FFF8DC;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFF8DC;
}








#New_York_Zone_Districts[ZONEDIST='M1-1']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}


#New_York_Zone_Districts[ZONEDIST='M1-1D']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}


#New_York_Zone_Districts[ZONEDIST='M1-2']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}

#New_York_Zone_Districts[ZONEDIST='M1-2D']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}

#New_York_Zone_Districts[ZONEDIST='M1-3']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}

#New_York_Zone_Districts[ZONEDIST='M1-4']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}
#New_York_Zone_Districts[ZONEDIST='M1-4D']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}




#New_York_Zone_Districts[ZONEDIST='M1-6']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}

#New_York_Zone_Districts[ZONEDIST='M1-6D']{
  line-color:#FF00FF;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF00FF;
}







#New_York_Zone_Districts[ZONEDIST='PARK']{
  line-color:#008000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#008000;
}





#New_York_Zone_Districts[ZONEDIST='M1-5A']{
  line-color:#FF69B4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF69B4;
}


#New_York_Zone_Districts[ZONEDIST='M1-5B']{
  line-color:#FF69B4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF69B4;
}

#New_York_Zone_Districts[ZONEDIST='M1-5M']{
  line-color:#FF69B4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF69B4;
}


#New_York_Zone_Districts[ZONEDIST='M1-5']{
  line-color:#FF69B4;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF69B4;
}










#New_York_Zone_Districts[ZONEDIST='M2-1']{
  line-color:#4B0082;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#4B0082;
}

#New_York_Zone_Districts[ZONEDIST='M2-2']{
  line-color:#4B0082;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#4B0082;
}


#New_York_Zone_Districts[ZONEDIST='M2-3']{
  line-color:#4B0082;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#4B0082;
}


#New_York_Zone_Districts[ZONEDIST='M2-4']{
  line-color:#4B0082;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#4B0082;
}





#New_York_Zone_Districts[ZONEDIST='M3-1']{
  line-color:#00FF00;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#00FF00;
}


#New_York_Zone_Districts[ZONEDIST='M3-2']{
  line-color:#00FF00;
  line-width:1;
  polygon-opacity:0.5;
  polygon-fill:#00FF00;
}











#New_York_Zone_Districts[ZONEDIST='R10']{
  line-color:#ADD8E6;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#ADD8E6;
}

#New_York_Zone_Districts[ZONEDIST='R10A']{
  line-color:#ADD8E6;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#ADD8E6;
}

#New_York_Zone_Districts[ZONEDIST='R10B']{
  line-color:#ADD8E6;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#ADD8E6;
}



#New_York_Zone_Districts[ZONEDIST='R3-1']{
  line-color:#808000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#808000;
}
#New_York_Zone_Districts[ZONEDIST='R3-2']{
  line-color:#808000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#808000;
}

#New_York_Zone_Districts[ZONEDIST='R3A']{
  line-color:#808000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#808000;
}

#New_York_Zone_Districts[ZONEDIST='R3X']{
  line-color:#808000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#808000;
}




#New_York_Zone_Districts[ZONEDIST='R5']{
  line-color:#FFA500;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFA500;
}

#New_York_Zone_Districts[ZONEDIST='R5A']{
  line-color:#FFA500;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFA500;
}

#New_York_Zone_Districts[ZONEDIST='R5B']{
  line-color:#FFA500;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFA500;
}

#New_York_Zone_Districts[ZONEDIST='R5D']{
  line-color:#FFA500;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFA500;
}



#New_York_Zone_Districts[ZONEDIST='R6']{
  line-color:#800080;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#800080;
}

#New_York_Zone_Districts[ZONEDIST='R6A']{
  line-color:#800080;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#800080;
}

#New_York_Zone_Districts[ZONEDIST='R6B']{
  line-color:#800080;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#800080;
}





#New_York_Zone_Districts[ZONEDIST='R7-1']{
  line-color:#FFEFD5;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFEFD5;
}
#New_York_Zone_Districts[ZONEDIST='R7-2']{
  line-color:#FFEFD5;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFEFD5;
}

#New_York_Zone_Districts[ZONEDIST='R7-3']{
  line-color:#FFEFD5;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFEFD5;
}



#New_York_Zone_Districts[ZONEDIST='R7A']{
  line-color:#FFDAB9;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFDAB9;
}

#New_York_Zone_Districts[ZONEDIST='R7B']{
  line-color:#FFDAB9;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFDAB9;
}
#New_York_Zone_Districts[ZONEDIST='R7D']{
  line-color:#FFDAB9;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFDAB9;
}
#New_York_Zone_Districts[ZONEDIST='R7X']{
  line-color:#FFDAB9;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FFDAB9;
}










#New_York_Zone_Districts[ZONEDIST='R8']{
  line-color:#DDA0DD;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#DDA0DD;
}

#New_York_Zone_Districts[ZONEDIST='R8A']{
  line-color:#DDA0DD;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#DDA0DD;
}

#New_York_Zone_Districts[ZONEDIST='R8B']{
  line-color:#DDA0DD;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#DDA0DD;
}

#New_York_Zone_Districts[ZONEDIST='R8X']{
  line-color:#DDA0DD;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#DDA0DD;
}







#New_York_Zone_Districts[ZONEDIST='R9']{
  line-color:#FF0000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF0000;
}
#New_York_Zone_Districts[ZONEDIST='R9A']{
  line-color:#FF0000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF0000;
}
#New_York_Zone_Districts[ZONEDIST='R9X']{
  line-color:#FF0000;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF0000;
}









#New_York_Zone_Districts[ZONEDIST='C3']{
 line-color:#87CEEB;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#87CEEB;
}

#New_York_Zone_Districts[ZONEDIST='C3A']{
 line-color:#87CEEB;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#87CEEB;
}




#New_York_Zone_Districts[ZONEDIST='C7']{
 line-color:#8B4513;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#8B4513;
}



#New_York_Zone_Districts[ZONEDIST='R1-1']{
line-color:#FF6347;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF6347;
}

#New_York_Zone_Districts[ZONEDIST='R1-2']{
line-color:#FF6347;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF6347;
}


#New_York_Zone_Districts[ZONEDIST='R1-2A']{
line-color:#FF6347;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#FF6347;
}


#New_York_Zone_Districts[ZONEDIST='R2']{
line-color:#D2B48C;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2B48C;
}


#New_York_Zone_Districts[ZONEDIST='R2A']{
line-color:#D2B48C;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2B48C;
}


#New_York_Zone_Districts[ZONEDIST='R2X']{
line-color:#D2B48C;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#D2B48C;
}


#New_York_Zone_Districts[ZONEDIST='R4']{
line-color:#EE82EE;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#EE82EE;
}


#New_York_Zone_Districts[ZONEDIST='R4-1']{
line-color:#EE82EE;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#EE82EE;
}

#New_York_Zone_Districts[ZONEDIST='R4A']{
line-color:#EE82EE;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#EE82EE;
}


#New_York_Zone_Districts[ZONEDIST='R4B']{
line-color:#EE82EE;
  line-width:0;
  polygon-opacity:0.5;
  polygon-fill:#EE82EE;
}